@model ASP.NETCoreIdentityCustom.Areas.Identity.Data.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BelgeUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BelgeUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnayDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnayDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnayTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnayTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
